elasticsearch==8.13.2
fastapi==0.111.0
fastapi_offline==1.7.1
pydantic==2.7.3
PyPDF2==3.0.1
python-dotenv==1.0.1
python_docx==1.1.2
Requests==2.32.3
spacy==3.7.4
uvicorn==0.30.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
